*#*
*.byte
*.d.native
*.docdir
*.html
*.native
*.p.byte
*.tex
*cm*
*docdir
*png
*~
/README.html
/mlorg.mldylib
/setup.data
/setup.exe
/setup.log
/tests/parser/syntax-2.org
/tests/parser/syntax-2.xml
/tests/parser/syntax.diff
/tests/parser/syntax.xml
_build
_log
