_log
_build
*.native
*.byte
*.d.native
*.p.byte
*cm*
*~
*#*
*docdir
/README.html
/setup.data
/setup.log
*.html
*.tex
/tests/parser/syntax-2.org
/tests/parser/syntax-2.xml
/tests/parser/syntax.diff
/tests/parser/syntax.xml
