/* Default CSS for mlorg pages */

/* General page layout */


body { 
    background: #e7e7e7; 
    font-size: 11pt; 
    background: #dddddd ;
}

#content { 
    background: #ffffff; 
    margin: 50px; 
    border: 2px solid #c0c0c0; 
    padding: 10px; 
}

#table-of-contents {
    border-top: 1px lightblue dotted;
    border-bottom: 1px lightblue dotted;
}


/* Title */
.title { text-align: center }

h2 { margin-left: 10px; border-bottom: 1px black solid; }
h3 { margin-left: 15px; border-bottom: 1px grey solid; }

/* Links */
a {
    text-decoration: none;
    
}
a:hover {
    text-decoration: underline;
}

/* code */
pre {
    margin-left: 5px;
    border-left: solid 3px #c0c0c0;
    padding-left: 5px;
}
/* env */
.detitle, .de, .theom, .thtitle {
    font-style: italic;
    border: 1px solid #c0c0c0;
    margin: 10px;
    padding: 5px;
}

.th_name {
    font-weight:bold;
}
.th_title {
    font-variant:small-caps;
}

.proofn {
    font-style: italic;
}
.proof {
    margin-left: 30px;
    border-left: 1px solid lightblue;
    padding-left: 5px;
}